/* колір основного тексту #212121;  */
/* вторинний колір тексту #757575 */
/* білий #FFFFFF; */
/* колір-акцент #2196F3; */
/* основний колір фона #F5F5F5;  */
/* вторинний колір фона #F5F4FA; */
/* колір фона шапки #FFFFFF; */
/* колір фона футера #2F303A; */
/* колір фона героя #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --buttom-hover-color: #188ce8;
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

/* .button.list .item:not(:last-child) {
  margin-right: 8px;
} */

/* Modal */

.form-field {
  display: block;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control {
  position: relative;

  margin: 4px 0 10px 0;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 12px 12px 42px;

  transition: border-color 250ms var(--time-distribution-function);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  margin: 4px 0 20px 0;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--time-distribution-function);
}

.phone-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--time-distribution-function);
}

.form-control:focus-within .phone-icon {
  fill: var(--accent-color);
}

.form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-field-checkbox {
  margin-bottom: 30px;
}

.form-label-checkbox {
  padding-left: 36px;
  line-height: 1.71;
  position: relative;
}

.form-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.user_data_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--title-text-color);
  margin: 0 0 12px 0;
}

.check-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin: 0 8px 0 12px;

  top: 0;
  left: 0;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;

  transition: background-color 250ms var(--time-distribution-function),
    background-image 250ms var(--time-distribution-function);
}

.form-checkbox:checked + .check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.button-send-data {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  padding: 10px 52px;

  display: flex;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);

  max-width: 200px;
  cursor: pointer;
}

.button.secondary {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--time-distribution-function),
    color 250ms var(--time-distribution-function),
    box-shadow 250ms var(--time-distribution-function);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary.active {
  padding: 6px 25px;

  color: var(--white);
  background-color: var(--accent-color);
}

.works.link {
  text-decoration: none;
}

.works.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--time-distribution-function),
    opacity 250ms var(--time-distribution-function);
}

.works.item:hover .works-overlay {
  transform: translateY(0);
  opacity: 1;
}

.works.list .works-exposition {
  color: var(--white);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}

.works-caption {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.works-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
}

.works-description {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.works h2 {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works p {
  font-size: 16px;
  line-height: 1.88;
}

.works-link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: box-shadow 250ms var(--time-distribution-function);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
