.auth {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-content: center;
    gap: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.auth__link {
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    transition: color 250ms $time-distribution-function;
    
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.auth__icon {
    margin-right: 10px;
    fill: $primary-text-color;
}

.auth__item:not(:last-child) {
    margin-right: 50px;
}

.auth__link:hover .auth__icon,
.auth__link:focus .auth__icon {
    fill: $accent-color;
}

