.clientage__list {
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap
}

.clientage__title {
    @extend %title;
}

.clientage__item {
    border: 1px solid $clientage-background-color;
    border-radius: 4px;
    
    @media screen and (max-width: 767px) {
        width: 210px;
        padding: 16px 52px;
    }
    
    @media screen and (min-width: 768px) {
        width: 226px;
        padding: 16px 60px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
        padding: 16px 32px;
    }
        
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clientage__icon {
    fill: $clientage-background-color;

    transition: fill 250ms $time-distribution-function;
    
    .clientage__item:hover &,
    .clientage__item:focus & {
        fill: $accent-color;
    }
}

