.clientage__list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    gap: 30px;
}

.clientage__title {
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.clientage__item {
    padding: 16px 32px;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    max-width: 170px;
    
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clientage__icon {
    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms $time-distribution-function;
    
    .clientage__item:hover &,
    .clientage__item:focus & {
        fill: $accent-color;
    }
}

