.clientage__list {
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap
}

.clientage__title {
    @extend %title;
}

.clientage__item {
    padding: 16px 32px;
    border: 1px solid $clientage-background-color;
    border-radius: 4px;
    max-width: 170px;
    
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clientage__icon {
    fill: $clientage-background-color;

    transition: fill 250ms $time-distribution-function;
    
    .clientage__item:hover &,
    .clientage__item:focus & {
        fill: $accent-color;
    }
}

