.examples {
    padding-top: 0;
    }

.examples__list {
    gap: 30px;
    display: flex;
}

.examples__thumb {
    position: relative;
    display: flex;
    justify-content: center;
}

.examples__thumb::before {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.examples__text {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 27px 0;

    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}

