.hero {
    background-color: $footer-background-color;
    padding: 200px 0;
}

.hero__title {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}