@mixin logo ($color) {
    color: $color;
    }

.logo {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    }

.logo--header {
    @include logo($title-text-color);
}

.logo__accent {
    color: $accent-color;
}

.logo--footer {
    @include logo($white);
       
    display: block;
    margin-bottom: 20px;
}