.works__link {
    text-decoration: none;
    display: block;
    text-decoration: none;
    color: $primary-text-color;
    transition: box-shadow 250ms $time-distribution-function;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

// .works.list {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
// }

.works__thumb {
    position: relative;
    overflow: hidden;
}

.works__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms $time-distribution-function,
        opacity 250ms $time-distribution-function;
        
        .works__item:hover & {
        transform: translateY(0);
        opacity: 1;
    }
    }

.works__exposition {
    color: $white;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
}

.works__caption {
    background: $white;
    border: 1px solid rgb(238, 238, 238);
}

.works__title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;

    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works__description {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    
    font-size: 16px;
    line-height: 1.88;
}
