$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white: rgb(255, 255, 255);
$primary-background-color: #f5f5f5;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$clientage-background-color: rgb(175, 177, 184);
$header-color: rgb(236, 236, 236);
$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
$buttom-hover-color: #188ce8;
$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);